@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

}

body {
    background-color: #111222;
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 2em;
    margin-bottom: 40px;
}

.content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.content .text {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 400px;
    transform: translate(-80px, 50px);
}

.content .text h3 {
    font-size: 2em;
    margin-bottom: 15px;
}

.media {
    margin-top: 100px;
}

.media a {
    font-size: 2em;
    color: #fff;
    margin: 60px;
}

.sec-02 .main-title {
    margin-bottom: 100px;
}

.info h3 {
    text-align: center;
    margin-bottom: 0px;
}

.info {
    width: 700px;
    margin-left: 50px;
    padding: 20px;
}

.sec-03 .main-title{
    margin-bottom: 200px;
}

.info2 h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
    text-transform: uppercase;
}

.sec-03 .content .image {
    z-index: 1;
    width: 450px;
    height: 500px;
    margin-left: 100px;
    margin-top: 100px;
}

.sec-03 h2{
    font-size: 2em;
}

.media-info{
    width: 400px;
    margin-left: 50px;
    margin-top: 80px;
}

.media-info li{
    list-style: none;
    font-size: 1.4em;
    margin-top: 50px;
}

.media-info li a{
    color: #fff;
}

.media-info li:nth-child(1), .media-info li:nth-child(5){
    padding-left: 100px;

}

.media-info li:nth-child(2), .media-info li:nth-child(4){
    padding-left: 50px;

}

.media-info li:nth-child(3){
    padding-left: -50px;
}